* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-image: linear-gradient(#986d8ed7, #fde59c60);
    background-repeat: no-repeat; /* So that gradient background doesn't repeat */
    background-attachment: fixed; /* So that gradient background stays fixed */
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abcdef {
    background-color: #986d8ea6;
    color: #fde59c0e;
    color: rgba(255, 0, 0, 0.527);
}

@media(max-width: 600px) {
    .container {
        display: block;
    }
}

